@charset "UTF-8";
* {
  margin: 1px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  color: #ffffff;
  height: 100vh;
  line-height: 1;
  overflow: hidden;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 5rem;
  right: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.menu-btn__burger {
  position: absolute;
  top: -3rem;
  width: 28px;
  height: 3px;
  background: #9c1515;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #9c1515;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #9c1515;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  list-style-type: none;
  text-decoration: none;
  padding-right: 2rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background: #ffb01f;
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #ffffff;
}

.nav .menu-nav__link {
  display: inline-block;
  color: #9c1515;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 0;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff9a57;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  * {
    margin: 0px;
  }
  .move {
    font-size: 8vh;
  }
  #regulacje {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section1 .jeden h2 {
    font-size: 2rem;
  }
  section1 .jeden h3 {
    font-size: 1.5rem;
  }
  section1 .jeden p, section1 .jeden li {
    font-size: 1.25rem;
  }
  #kontakt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    float: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}

/* @include media-lg {
    .projects {
      &__items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .contact__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @include media-xl {
    .projects__bio-image {
      height: 50vh;
    }
  } */
.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* Scroll Snap */
  scroll-snap-align: center;
}

section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* Scroll Snap */
  scroll-snap-align: center;
}

section1 .jeden {
  line-height: 1.5;
  font-size: 0.75rem;
  height: 80vh;
  margin: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  text-align: justify;
  list-style-position: inside;
  overflow: auto;
  background: #c7be94;
}

.para {
  text-align: center;
  font-weight: 600;
}

section h1 {
  font-size: 2.5vh;
}

section1 h2 {
  font-size: 2vh;
}

span {
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  display: inline-block;
  line-height: 1rem;
}

span.fade {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.logo img {
  position: absolute;
  height: 50px;
  margin-top: 0px;
  margin-left: 20px;
  z-index: 2;
}

#logo {
  width: 20%;
}

.footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0%;
  right: 2%;
  bottom: 2%;
  color: black;
  text-decoration: none;
}

#map {
  position: relative;
  max-width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 1%;
}

/* Section*/
section#home {
  background: url("../bb-slider-00.jpg") no-repeat center center;
}

section#about {
  background: #f0d353 no-repeat center center;
}

/* section#personel {
    background: rgb(248, 152, 61) no-repeat center center;
  } */
section#wladze {
  background: white no-repeat center center;
}

section1#regulacje {
  background: #a8a077 no-repeat center center;
}

section1#kontakt {
  background: -webkit-gradient(linear, left top, right top, from(grey), to(lightgrey)) no-repeat center center/cover;
  background: linear-gradient(to right, grey, lightgrey) no-repeat center center/cover;
}

.button {
  background: #055256;
  padding: 10px 15px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  /* box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75); */
  margin-top: 25px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  bottom: 10%;
}

.button:hover {
  background: #15836f;
  color: #9c9c9c;
}

.buttonn {
  border-radius: 5px;
  background-color: #d82323;
  color: white;
  padding: 2px 5px;
}

.buttonn:hover {
  background-color: #fdc0c0;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content {
  height: 400px;
  width: 300px;
  background: #d9cb9e;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tresc {
  width: 100%;
  height: 70%;
  font-size: large;
}

.anonim {
  font-size: 2vh;
  font-weight: 600;
  text-align: center;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  background: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* Władze  */
.contain {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.schem {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 90%;
  margin-left: 2%;
  background: url("../schemat.png") no-repeat center center;
  background-size: contain;
}

.text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
  background-color: antiquewhite;
  height: 85%;
  font-size: 4vh;
}

.text h1 {
  font-size: 2vw;
}

.nic {
  font-size: 0;
  height: 0;
}
/*# sourceMappingURL=main.css.map */