@include media-md {
    .menu-btn {
      visibility: hidden;
    }

    * {
      margin: 0px;
      }

    .move {
      font-size: 8vh
    }

    #regulacje {
      flex-direction: row;
    }
   

    section1 .jeden {
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      p, li {
        font-size: 1.25rem;
      }
    }


    #kontakt {
      flex-direction: row;
    }
        
    .nav {
      visibility: visible;
  
      .menu-nav {
        display: block;
        float: none;
        transform: translateY(0);
        height: 100%;
        text-align: right;
  
        &__item {
          display: inline;
          padding-right: 1.5rem;
        }
  
        &__link {
          font-size: 1.5rem;
        }
        
      }
    }
    

  }
  
  /* @include media-lg {
    .projects {
      &__items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .contact__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @include media-xl {
    .projects__bio-image {
      height: 50vh;
    }
  } */