@import 'config';
@import 'menu';
@import 'responsive';
      
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
    
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }

  section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    
    /* Scroll Snap */
    scroll-snap-align: center;
  }

  section1 .jeden {
    line-height: 1.5;
    font-size: 1.25rem;
    height: 80vh;
    margin: 50px;
    flex: 1;
    text-align: left;
    color: white;
    text-align: justify;
    list-style-position: inside;
    overflow: auto
  }

  .para {
    text-align: center;
    font-weight: 600;
  }
  
  section h1 {
    font-size: 6vh;
  }

  section1 h1 {
    font-size: 3vh;
  }

  section1 h2 {
    font-size: 2vh;
  }

  span {
    opacity: 0;
    transition: all 0.7s ease;
    transform: translateY(50px);
    display: inline-block;
    line-height: 1rem;
  }
  
  span.fade {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .logo img {
    position: absolute;
    height: 50px;
    margin-top: 0px;
    margin-left: 20px;
    z-index: 2;
  }

  .footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0%;
    right: 2%;
    bottom: 2%;
    color: black;
    text-decoration: none;
  }

  #map {
    position: relative;
    max-height: 50%;
    max-width: 50%;
    left: 2rem;
    flex-direction: row;
  }

   /* Section*/
  section#home {
   background: url("../bb-slider-00.jpg") no-repeat center center;
    
  }
  
  section#about {
    background: rgb(240, 211, 83) no-repeat center center;
  }
  
  section#personel {
    background: rgb(248, 152, 61) no-repeat center center;
  }

  section#wladze {
    background: white no-repeat center center;
    
  }
  
  section1#regulacje {
    background: #a8a077 no-repeat center center;
  }

  section1#kontakt {
    background: linear-gradient(to right,lightgrey ,grey) no-repeat center center/cover;
  }

.button {
  background: #055256;
  padding: 10px 15px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  /* box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75); */
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
  width: min-content;
  bottom: 10%;
}

.button:hover {
  background: #15836f;
  color: rgb(156, 156, 156);
}

.buttonn {
  border-radius: 5px;
  background-color: #d82323;
  color: white;
  padding: 2px 5px;
}

.buttonn:hover {
  background-color: rgb(253, 192, 192);
  color: rgb(0, 0, 0);
  transition: 0.5s;

}

.popup {
background: rgba(0,0,0,0.5);
width: 100%;
height: 100%;
position: absolute;
top: 0;
display: none;
justify-content: center;
align-items: center;
}

.popup-content {
  height: 500px;
  width: 500px;
  background:rgb(217, 203, 158);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#tresc {
  width: 100%;
  height: 70%;
  font-size: large;
}



.anonim {
  font-size: 2vh;
  font-weight: 600;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  background: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  cursor: pointer;
}


/* Władze  */ 

.contain {
  float: left;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.schem{
flex: 2;
height: 90%;
margin-left: 2%;
background: url("../schemat.png") no-repeat center center;
background-size: contain;
}

.text{
flex:1;
color: black;
background-color: antiquewhite;
height: 85%;
font-size: 4vh;
}

.text h1 {
  font-size: 2vw;
}

.nic {
  font-size: 0;
  height: 0;
}